/* Button.css */

.btn {
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s, border 0.25s;
    font-size: 1rem;
}

.btn.primary {
    background-color: #00ffff66;
    color: black;
}

.btn.primary:hover {
    background-color: #00ffff;
}

.btn.outline {
    background-color: transparent;
    color: #00ffcc;
    border: 2px solid #00ffcc;
}

.btn.outline:hover {
    background-color: #00ffcc;
    color: black;
}

.btn.danger {
    background-color: #ff4444;
    color: white;
}

.btn.danger:hover {
    background-color: #ff6666;
}

.btn.neon {
    background-color: #1f1f1f;
    color: #00ffff;
    border: 1px solid #00ffff;
    box-shadow: 0 0 8px #00ffff33;
}

.btn.neon:hover {
    background-color: #00ffff;
    color: black;
    box-shadow: 0 0 16px #02bebe;
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}