.footer {
    background-color: #111;
    color: #ccc;
    padding: 2rem;
    border-top: 1px solid #222;
    margin-top: 4rem;
    font-size: 0.95rem;
}

/* .transparent-footer {
    background-color: transparent;
} */

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    height: 48px;
    margin-bottom: 1rem;
}

.footer-section h4 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-section p {
    line-height: 1.6;
}

.footer-section ul {
    gap: 0.5rem;
    text-align: center;
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-section a:hover {
    color: #00ffff;
    /* color: #00ffaa; */
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    color: #777;
    font-size: 0.85rem;
    border-top: 1px solid #222;
    padding-top: 1rem;
}

/* src/styles/Footer.css */

.social-icons {
    color: #ccc;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.social-icons svg {
    width: 2rem;
    height: 2rem;
    filter: grayscale(100%) brightness(1.4);
    transition: filter 0.2s ease-in-out;
}

.social-icons svg:hover {
    color: #00ffff;
    filter: drop-shadow(0 0 5px #00ffff) brightness(1.1);
}