@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


body {
    background-color: #111;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.default-background {
    background-color: #111;
}

/* Usuwamy padding ze strony głównej, ale zachowujemy go na innych */
.home-main {
    flex-grow: 1;
    padding: 0;
}

.default-main {
    flex-grow: 1;
    padding: 2rem;
}